* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
body {
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: black;
}
#nav-header {
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 1152px;
    margin: auto;
    height: 50px;
}
.logo {
    height: 100%;
    margin-right: auto;
    cursor: pointer;
}
.nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    width: 571px;
    transform: scaleX(0);
    transform-origin: 0 100%;
    transition: 0.6s ease-in;
}
.toggle {
    display: flex;
    width: 25px;
    height: 25px;
    display: none;
}
.premiere-liste {
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding-right: 30px;
    border-right: 1px solid white;
}
.deuxieme-liste {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-left: 30px;
}
a:hover {
    color: rgb(121, 202, 121);
}


.premiere-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 710px;
    background-color: purple;
}
#container-premiere-section {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 60%;
    min-width: 1152px;
    height: 80%;
}
.element-container-premiere-section:nth-child(1) {
    width: 60%;
    height: 100%;

    font-family: Helvetica;
    color: white;
}
.element-container-deuxieme-section {
    width: 38%;
    height: 68%;
    margin-top: 90px;
    background-color: blue;
}
.element-container-deuxieme-section img {
    width: 100%;
    height: 100%;   
}
.titre {
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
.offre {
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
}
.publicite {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.bouton {
    margin-bottom:40px;
    height: 50px;
    padding: 0 15px 0px 15px;
    border-radius: 30px;
    align-self: center;
    border: 0;
    background-color: black;
    transform: scale(1);
    cursor: pointer;

    color: white;
    font-weight: 700;
    font-size: 14px;
}
.bouton:hover {
    transform: scale(1.10);
}
.information {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.condition {
    text-decoration: underline;
    cursor: pointer;
}


.deuxieme-section {
    width: 100%;
    height : 650px;
    background-image: url(image/background-section-2.PNG);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 80px;
}
#container-deuxieme-section {
    margin: auto;
    width: 60%;
    min-width: 1152px;
    height: 330px;
    color: green;
}
#bouton-deux {
    background-color: green;
    color: blue;
    font-size: 14px;
    font-weight: 700;
}


footer {
    position: relative;
    width: 100%;
    height: 530px;
    background-color: black;
}
#container-footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    min-width: 1152px;
    height: 424px;
}
.element-un-container-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 290px;
}
.sous-un-element-container-footer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    min-width: 60%;
    height: 100%;
}
.display-flex{
    display: flex;
    flex-direction: column;
    width: 146.5px;
    margin-top: 25px;
    margin-left: 50px;
    
    font-size: 12px;
    font-weight: 900;
    color: #919196;
}
.logo-footer {
    width: 142px;
    height: 50px;
}
.premiere-ligne-li, .display-flex li  {
    margin-bottom: 20px;
}
.display-flex li a {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}
.display-flex li a:hover {
    color: green;
}
.sous-deux-element-container-footer {
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: 60px;
}
.rond-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
}
.rond-logo:hover .rond-logo-image {
    filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(50deg) saturate(500%);
}
.rond-logo-image {
    width: 35px;
    height: 35px;
}

.element-deux-container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.pied-de-page {
    display: flex;
    justify-content: space-between;
    width: 600px;
    font-size: 12px
}
.pied-de-page-droite {
    text-align: right;
    font-size: 12px;
}
.derniere-liste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    height: 50px;
    
}





/*******************************js ******************************************/

.animation-header {
    transform: scaleX(1);
}

@media screen and (max-width:1200px) {
    #nav-header {
        width: 950px;
        min-width: 940px;
    }
    .premiere-section {
        height: auto;
        
        min-width: 940px;
    }
    #container-premiere-section {
        flex-direction: column;
        width: auto;
        min-width: 800px;
    }
    .element-container-premiere-section:nth-child(1) {
        width: 935px;
        margin: auto;
    }
    .titre {
        margin-top: 50px;
        text-align: center;
    }
    .element-container-deuxieme-section {
        width: 400px;
        height: 400px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 50px ;
    }
    .deuxieme-section {
        padding-top: 40px;
    }
    #container-deuxieme-section {
        width: 785px;
        min-width: 600px;
        margin: auto;
        text-align: center;
    }

    #container-footer {
        width: 950px;
        min-width: 940px;
    }
}

@media screen and (max-width:967px) {
    header {
        height: 50px;
        overflow: hidden;
    }
    .logo {
        height: 40px;
    }
    #nav-header {
        width: 715px;
        min-width: 715px;
    }
    .hamburger , .close {
        cursor: pointer;
    }
    .toggle {
        display: block;
    }
    .close {
        display: none;
    }
    .nav-menu {
        position: absolute;
        flex-direction: column;
        background-color: black;
        align-items: inherit;
        height: 95vh;
        width: 430px;
        right: 0;
        top: 50px;
        transform: translateX(100%);
    }
    .deroulant .nav-menu {
        transform: translateX(0);
    }
    .deroulant .hamburger {
        display: none;
    }
    .deroulant .close {
        display: block;
    }
    .nav-menu .premiere-liste, .deuxieme-liste {
        flex-direction: column;
        border: 0;
        padding: 0;
        width: 100%;
        padding-left: 20px;
    }
    .premiere-liste {
        height: 200px;
        justify-content: space-around;
        border-bottom: 2px solid white;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
    }
    .deuxieme-liste {
        margin-top: 40px;
        height: 70px;
        font-size: 28px;
        font-weight: 400;
        line-height: 28px;
    }
    .premiere-section {
        height: auto;        
        min-width: 715px;
    }
    #container-premiere-section {
        flex-direction: column;
        width: auto;
        min-width: 715px;
    }
    .element-container-premiere-section:nth-child(1) {
        width: 715px;
        margin: auto;
    }
    .titre {
        margin-top: 50px;
        text-align: center;
    }
    .element-container-deuxieme-section {
        width: 400px;
        height: 400px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 50px ;
    }
    .deuxieme-section {
        padding-top: 40px;
    }
    #container-deuxieme-section {
        width: 715px;
        min-width: 715px;
        margin: auto;
        text-align: center;
    }
    #container-footer {
        width: 715px;
        min-width: 715px;
    }
    .element-un-container-footer {
        flex-direction: column;
        height: auto;
        margin: auto;
        width: 715px;
        min-width: 715px;
        background-color: orange;
    }
    .sous-deux-element-container-footer {
        background-color: red;
        height: 50px;
    }
    .rond-logo {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width:740px) {
    header {
        height: 50px;
        overflow: hidden;
    }
    .logo {
        height: 40px;
    }
    #nav-header {
        width: 91%;
        min-width: 150px;
    }
    .hamburger , .close {
        cursor: pointer;
    }
    .toggle {
        display: block;
    }
    .close {
        display: none;
    }
    .nav-menu {
        position: absolute;
        flex-direction: column;
        background-color: black;
        z-index: 99999;
        align-items: inherit;
        height: 95vh;
        width: 95%;
        right: 0;
        top: 50px;
        transform: translateX(100%);
    }
    .deroulant .nav-menu {
        transform: translateX(0);
    }
    .deroulant .hamburger {
        display: none;
    }
    .deroulant .close {
        display: block;
    }
    .nav-menu .premiere-liste, .deuxieme-liste {
        flex-direction: column;
        border: 0;
        padding: 0;
        width: 100%;
        padding-left: 20px;
    }
    .premiere-liste {
        height: 200px;
        justify-content: space-around;
        border-bottom: 2px solid white;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
    }
    .deuxieme-liste {
        margin-top: 40px;
        height: 70px;
        font-size: 28px;
        font-weight: 400;
        line-height: 28px;
    }
    .premiere-section {
        height: auto;        
        min-width: 150px;
    }
    #container-premiere-section {
        flex-direction: column;
        width: auto;
        min-width: 150px;
    }
    .element-container-premiere-section:nth-child(1) {
        width: 91%;
        min-width: 150px;
        margin: auto;
    }
    .titre {
        margin-top: 50px;
        text-align: center;
    }
    .element-container-deuxieme-section {
        width: 400px;
        height: 400px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 50px ;
    }
    .element-container-deuxieme-section {
        width: 71%;
    }
    .deuxieme-section {
        padding-top: 40px;
        height: auto;
    }
    #container-deuxieme-section {
        width: 91%;
        height: auto;
        min-width: 150px;
        margin: auto;
        text-align: center;
    }
    footer {
        height: 1000px;
    }

    #container-footer {
        width: 91%;
        height: auto;
        min-width: 150px;
    }
    .element-un-container-footer {
        flex-direction: column;
        height: auto;
        margin: auto;
        width: 91%;
        min-width: 150px;
        background-color: orange;
    }
    .sous-deux-element-container-footer {
        background-color: red;
        height: 50px;
    }
    .rond-logo {
        height: 50px;
        width: 50px;
    }
    .sous-un-element-container-footer {
        display: flex;
        flex-direction: column;
    }
    .element-deux-container-footer ul {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .pied-de-page {
        padding: 10px;
    }
}