* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
body {
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    overflow: hidden;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: black;
}
#nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    min-width: 1152px;
    margin: auto;
    height: 50px;
}
.logo {
    margin-right: auto;
    cursor: pointer;
}
.nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    width: 571px;
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: 0.4s ease-in;
}
.toggle {
    display: flex;
    width: 25px;
    height: 25px;
    display: none;
}
.premiere-liste {
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding-right: 30px;
    border-right: 1px solid white;
}
.deuxieme-liste {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-left: 30px;
}
.lien-header:hover {
    color: rgb(121, 202, 121);
}



.premiere-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 480px;
    background-color: purple;
}
#container-premiere-section {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 60%;
    min-width: 1152px;
    height: 80%;
}
.element-container-premiere-section:nth-child(1) {
    width: 60%;
    height: 100%;

    font-family: Helvetica;
    color: white;
}
.element-container-deuxieme-section:nth-child(2) {
    width: 35%;
    height: 403px;
    align-self: center;
    background-color: blue;
}
.element-container-deuxieme-section:nth-child(2) img {
    width: 100%;
    height: 100%;   
}
.offre {
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}
.publicite {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.div-bouton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:40px;
    width: 580px;
    height: 50px;
}
.bouton {
    width: 280px;
    height: 100%;
    padding: 0 15px 0px 15px;
    border-radius: 30px;
    background-color: black;
    transform: scale(1);
    cursor: pointer;

    color: white;
    font-weight: 700;
    font-size: 14px;
}
.bouton:nth-child(2) {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.bouton:hover {
    transform: scale(1.10);
}
.condition {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

.deuxieme-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 59%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 195px;
    height: 450px;
}
.titre-deuxieme-section {
    width: 500px;
    height: auto;

    text-align: center;
    font-size: 36px;
    font-weight: 900;
    line-height: 46px;
}
.argument-deuxieme-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 265px;
}
.element-argument-deuxieme-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24.5%;
    height: 100%;

    text-align: center;
}
.element-argument-deuxieme-section img {
    height: 80px;
    margin-bottom: 50px;
}
.titre-element-argument-deuxieme-section {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 27px;
    font-weight: 700;
}
.texte-element-argument-deuxieme-section {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.troisieme-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 120px;
    width: 1113px;
    height: 900px;
}
.titre-troisieme-section {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}
.sous-titre-troisieme-section {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 50px;
}
.container-troisieme-section {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
}
.element-container-troisieme-section {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.35);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.header-element-container-troisieme-section , .main-element-container-troisieme-section, .footer-element-container-troisieme-section {
    padding: 15px;
}
.header-element-container-troisieme-section {
    width: 95%;
    margin: auto;
    height: 175px;
    margin-bottom: 45px;
    border-bottom: 1px solid grey;
}
.mois {
    width: 115px;
    height: 25px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(112, 112, 194);

    font-size: 14px;
    font-weight: 900;
    color: white;
}
.situation {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}
.souscription {
    font-size: 16px;
    font-weight: 400;
}
.compte {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

.main-element-container-troisieme-section {
    width: auto;
    height: 376px;
}
.image-element-main-central {
    padding-right: 15px;
    display: table-cell;
    margin: auto;
    vertical-align: top;
}
tr {
    position: relative;
}
td {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.footer-element-container-troisieme-section {
    width: auto;
    height: 210px;
}
.bouton-footer {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 30px;
    transform: scale(1);
    cursor: pointer;
    margin-bottom: 20px;
}
.bouton-footer:hover {
    transform: scaleX(1.05);
}
.paragraphe-footer {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

/*************************footer*************************/
footer {
    position: relative;
    width: 100%;
    height: 530px;
    background-color: black;
}
#container-footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    min-width: 1152px;
    height: 424px;
}
.element-un-container-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 290px;
}
.sous-un-element-container-footer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    min-width: 60%;
    height: 100%;
}
.display-flex{
    display: flex;
    flex-direction: column;
    width: 146.5px;
    margin-top: 25px;
    margin-left: 50px;
    
    font-size: 12px;
    font-weight: 900;
    color: #919196;
}
.logo-footer {
    width: 142px;
    height: 50px;
}
.premiere-ligne-li, .display-flex li  {
    margin-bottom: 20px;
}
.lien {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}
.lien:hover, .lien-footer:hover {
    color: green ;
}
.sous-deux-element-container-footer {
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: 60px;
}
.rond-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
}
.rond-logo:hover .rond-logo-image {
    filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(50deg) saturate(500%);
}
.rond-logo-image {
    width: 35px;
    height: 35px;
}

.element-deux-container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.pied-de-page {
    display: flex;
    justify-content: space-between;
    width: 600px;
    font-size: 12px
}
.pied-de-page-droite {
    text-align: right;
    font-size: 12px;
}
.derniere-liste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    height: 50px;
}
.container-troisieme-section {
    transform: scaleY(0);
    transition: 0.5s ease-in-out;
    transform-origin: 50% 0;
}

/***********************js *******************************/
.animation-tableau {
    transform: scaleY(1);
}
.animation-header {
    transform: scaleX(1);
}



@media screen and (max-width:1200px) {
    #nav-header {
        width: 950px;
        margin: auto;
        min-width: 700px;
    }
    .premiere-section {
        height: auto;
    }
    #container-premiere-section {
        flex-direction: column;
        align-items: center;
        width: 915px;
        min-width: 915px;
    }
    .element-container-premiere-section:nth-child(1) {
        margin-top: 60px;
        width: 100% !important;
    }
    .element-container-premiere-section:nth-child(2) {
        align-self: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .deuxieme-section {
        width: auto;
    }
    .argument-deuxieme-section {
        width: 905px;
        flex-wrap: wrap;
        height: auto;
    }
    .element-argument-deuxieme-section {
        width: 440px;
        height: auto;
        flex-direction: row;
    }
    .troisieme-section {
        height: auto;
        width: 905px;
    }
    .titre-troisieme-section {
        text-align: center;
    }
    .container-troisieme-section {
        flex-direction: column;
        align-items: center;
    }
    .element-container-troisieme-section {
        width: 440px;
        margin-bottom: 15px;
    }
    .main-element-container-troisieme-section {
        height: auto;
    }
    #container-footer {
        width: 950px;
        min-width: 940px;
    }
}
@media screen and (max-width: 967px) {
    header {
        height: 50px;
    }
    .logo {
        height: 40px;
    }
    #nav-header {
        width: 715px;
        min-width: 715px;
    }
    .hamburger , .close {
        cursor: pointer;
    }
    .toggle {
        display: block;
    }
    .close {
        display: none;
    }
    .nav-menu {
        position: absolute;
        flex-direction: column;
        background-color: black;
        z-index: 10;
        align-items: inherit;
        height: 95vh;
        width: 430px;
        right: 0;
        top: 50px;
        transform: scaleX(0);
    }
    .nav-menu .premiere-liste, .deuxieme-liste {
        flex-direction: column;
        border: 0;
        padding: 0;
        width: 100%;
        padding-left: 20px;
    }
    .premiere-liste {
        height: 200px;
        justify-content: space-around;
        border-bottom: 2px solid white;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
    }
    .deuxieme-liste {
        margin-top: 40px;
        height: 70px;
        font-size: 28px;
        font-weight: 400;
        line-height: 28px;
    }
    .deroulant .nav-menu {
        transform: scaleX(1);
    }
    .deroulant .hamburger {
        display: none;
    }
    .deroulant .close {
        display: block;
    }
    #container-premiere-section {
        flex-direction: column;
        align-items: center;
        width: 720px;
        min-width: 720px;
    }
    .deuxieme-section {
        align-items: center;
        align-items: center;
        height: auto;
    }
    .element-argument-deuxieme-section {
        align-self: center;
    }
    .argument-deuxieme-section {
        width: 720px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 715px;
        flex-wrap: wrap;
        height: auto;
    }
    .troisieme-section {
        width: 720px;
    }
    #container-footer {
        width: 720px;
        min-width: 720px;
    }
    .element-un-container-footer {
        flex-direction: column;
        height: auto;
        margin: auto;
        width: 720px;
        min-width: 720px;
    }
    .sous-deux-element-container-footer {
        height: 50px;
    }
    .rond-logo {
        height: 50px;
        width: 50px;
    }
    .element-deux-container-footer {
        flex-direction: column;
    }
    .derniere-liste {
        margin-top: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 740px) {
    header {
        height: 50px;
    }
    .logo {
        height: 40px;
    }
    #nav-header {
        width: 91%;
        min-width: 150px;
    }
    .hamburger , .close {
        cursor: pointer;
        z-index: 99;
    }
    .toggle {
        display: block;
    }
    .close {
        display: none;
    }
    .nav-menu {
        position: absolute;
        flex-direction: column;
        background-color: black;
        z-index: 99999;
        align-items: inherit;
        height: 95vh;
        width: 95%;
        right: 0;
        top: 50px;
        transform: scaleX(0);
    }
    .deroulant .nav-menu {
        transform: scaleX(1);
    }
    .deroulant .hamburger {
        display: none;
    }
    .deroulant .close {
        display: block;
    }
    .nav-menu .premiere-liste, .deuxieme-liste {
        flex-direction: column;
        border: 0;
        padding: 0;
        width: 100%;
        padding-left: 20px;
    }
    .premiere-liste {
        height: 200px;
        justify-content: space-around;
        border-bottom: 2px solid white;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
    }
    .deuxieme-liste {
        margin-top: 40px;
        height: 70px;
        font-size: 28px;
        font-weight: 400;
        line-height: 28px;
    }
    #container-premiere-section {
        width: 98%;
        min-width: 310px;
        margin: auto;
    }
    .div-bouton {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .bouton {
        width: 85%;
        padding: 20px;
        height: auto;
    }
    .bouton:nth-child(1) {
        margin-bottom: 10px;
    }
    .element-container-premiere-section:nth-child(2) {
        width: 90%;
    }
    .element-container-premiere-section:nth-child(2) img {
        width: 100%;
    }
    .titre-deuxieme-section {
        font-size: 13px; 
        margin-bottom: 15px;
        background-color: orange;
        width: 100%;
    }
    .deuxieme-section {
        width: 280px;
        min-width: 280px;
    }
    .argument-deuxieme-section {
        width: 280px;
    }
    .element-argument-deuxieme-section {
        flex-direction: column;
        flex-wrap: wrap;
        width: 280px;
    }
    .element-argument-deuxieme-section img {
        margin-bottom: 5px;
    }
    .texte-element-argument-deuxieme-section {
        margin-bottom: 50px;
    }
    .troisieme-section {
        width: 100%;
    }
    .element-container-troisieme-section {
        width: 275px;
        min-width: 275px;
    }
    footer {
        height: 1000px;
    }

    #container-footer {
        width: 230px;
        margin: auto;
        height: auto;
        min-width: 150px;
        align-items: center;
    }
    .element-un-container-footer {
        flex-direction: column;
        height: auto;
        margin: auto;
        margin-bottom: 60px;
        width: 91%;
        min-width: 150px;
    }
    .sous-deux-element-container-footer {
        height: 50px;
    }
    .rond-logo {
        height: 50px;
        width: 50px;
    }
    .sous-un-element-container-footer {
        display: flex;
        flex-direction: column;
    }
    .element-deux-container-footer ul {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .pied-de-page-droite {
        display: none;
    }
    .sous-deux-element-container-footer {
        margin-top: 50px;
    }
    .element-deux-container-footer {
        display: none;
    }
}