* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
button {
    cursor: pointer;
}
body {
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: black;
}
nav {
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 1152px;
    margin: auto;
    height: 50px;

    transform: scaleX(0);
    transform-origin: 50% 0;
    transition: 0.4s ease-in;
}
.logo {
    height: 100%;
    cursor: pointer;
}
.lien-image {
    height: 100%;
    margin-right: auto;
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.premiere-liste {
    display: flex;
    width: 340px;
    padding-right: 30px;
    border-right: 1px solid white;
}
.deuxieme-liste {
    width: 220px;
    padding-left: 30px;
}
a:hover {
    color: rgb(121, 202, 121);
}



main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
} 
.container-main-un {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;
    background-color: rgb(25, 230, 140);
}
.element-container-main-un {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    height: auto;
}
.image-element-container-un {
    margin-bottom: 60px;
}
.titre-element-container-un {
    text-align: center;
    margin-bottom: 35px;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
}
.sous-titre-element-container-un {
    text-align: center;
    margin-bottom: 45px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.bouton-main {
    width: 145px;
    height: 50px;
    border-radius: 30px;
    border: 0;
    transform: scale(1);
    background-color: white;
    font-size: 16px;
    font-weight: 400;  
}
.bouton-main:hover {
    transform: scale(1.10);
}


.container-main-deux {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
}
.element-container-main-deux {
    width: 1110px; 
    height: auto;
    text-align: center;
}
.titre-element-container-main-deux {
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 900;
}
.sous-titre-element-container-main-deux {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.container-installation {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 410px;
    height: auto;
}
.image-container-installation {
    cursor: pointer;
}


.container-main-trois {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    background-color: rgb(34, 33, 33);
}
.element-container-main-trois {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1110px;
    height: auto;
}
.image-element-container-main-trois {
    margin-bottom: 50px;
}
.texte-element-container-main-trois {
    font-size: 32px;
    line-height: 40px;
    font-weight: 900;
    color: white;
    margin-bottom: 42px;
}
.liste-element-container-main-trois {
    display: flex;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    color: white;
}
.liste-element-container-main-trois li {
    list-style-type: disc;
}
.liste-element-container-main-trois li a {
    text-decoration: underline;
    text-decoration-color: green;
    color: green;
}
.liste-element-container-main-trois li:nth-child(1) {
    list-style-type:none;
}


footer {
    position: relative;
    width: 100%;
    height: 530px;
    background-color: black;
}
#container-footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    min-width: 1152px;
    height: 424px;
}
.element-un-container-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 290px;
}
.sous-un-element-container-footer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    min-width: 60%;
    height: 100%;
}
.display-flex{
    display: flex;
    flex-direction: column;
    width: 146.5px;
    margin-top: 25px;
    margin-left: 50px;
    
    font-size: 12px;
    font-weight: 900;
    color: #919196;
}
.logo-footer {
    width: 142px;
    height: 50px;
}
.premiere-ligne-li, .display-flex li  {
    margin-bottom: 20px;
}
.display-flex li a {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}
.display-flex li a:hover {
    color: green;
}
.sous-deux-element-container-footer {
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: 60px;
}
.rond-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
}
.rond-logo:hover .rond-logo-image {
    filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(50deg) saturate(500%);
}
.rond-logo-image {
    width: 35px;
    height: 35px;
}

.element-deux-container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.pied-de-page {
    display: flex;
    justify-content: space-between;
    width: 600px;
    font-size: 12px
}
.pied-de-page-droite {
    text-align: right;
    font-size: 12px;
}
.derniere-liste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    height: 50px;
    
}





/*******************************js ******************************************/

.animation-header {
    transform: scaleX(1);
}